.DS_Store
.vscode/

build/
build-mac/
build-mac-static/
build-windows/

*.a
*.so
*.dll
*.o
*.exe
*.dylib

*.pc

Nionyx
NXPKPacker

assets/
Blender/
saves/

*.nxpk

imgui.ini

.cache/

compile_commands.json
